<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sudan States</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/css/Brands.css">
    
    <link rel="stylesheet" href="/css/Header-Dark.css">
    <link rel="stylesheet" href="/css/header.css">
    
    <link rel="stylesheet" href="/css/Social-Icons.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/Testimonials.css">
</head>

<body>
    <header class="header-dark">
        <nav class="navbar navbar-light navbar-expand-md header-dark" style="background: #393838b0;margin-bottom: 15px;height: 70px;padding-left: 50px;">
            <div class="container-fluid">
                <div><a class="navbar-brand" href="/" style="margin-bottom: 15px;margin-left: 30px;"><br><strong>Sudanspaces</strong><br><br></a></div><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbar-collapse-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="navbar-nav links">
                        <li class="nav-item"><a class="nav-link" href="/" style="padding-left: 30px;color: rgba(255,255,255,0.9);">Home<br></a></li>
                        <li class="nav-item"><a class="nav-link" href="news" style="color: rgba(255,255,255,0.9);">News</a></li>
                        <li class="nav-item"><a class="nav-link" href="about" style="color: rgba(255,255,255,0.9);">About</a></li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item ">
                            <a class=" nav-link"  href="/profile"> <img class="dropdown-image" src="/img/avatar.jpg"></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/" style="color: rgba(255,255,255,0.9);">Logout </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container hero">
            <div class="text-center about-content" style="padding-right: 10%;padding-left: 10%;background: #eef4f7;padding-bottom: 10%;padding-top: 1%;border-bottom-style: none;">
                <div>
                    <h1>About us</h1>
                    <p>Sudanspaces is a dynamic interactive map of sudan that connect assets, data and resources, for crucial stakeholders<br>We constantly stretching the possibilities of geospatial technologies enabling answers to questions in a wide range of domains; urban ecosystems, water, infrastructure planning, economic development, public transit, public safety, energy, natural resource management to name a few, we provide effective responsive and supportive knowledge in order to meet our community needs for geo spatial issues and other applications<br>We are advocates of sustainable change<br></p>
                </div>
                <div>
                    <h1>Mission</h1>
                    <p>A platform that collaborate and engage with institution about policies to drive sustainable agenda and empowering the Sudan with GIS knowledge<br></p>
                </div>
                <div>
                    <h1 style="color: #313437;">Vision</h1>
                    <p>Finding innovative solutions to today’s challenges To be Sudan leading GIS service and spatial<br>information provider&nbsp;<br></p>
                </div>
                <div>
                    <h1>Values</h1>
                    <div class="row" style="border-bottom-style: none;">
                        <div class="col" style="border-bottom-style: none;margin: 5px;"><img class="val-icons" src="/img/quality1.png">
                            <p style="font-weight: bold;">Quality<br></p>
                        </div>
                        <div class="col" style="border-bottom-style: none;margin: 5px;"><img class="val-icons" src="/img/team-work1-removebg-preview.png">
                            <p style="font-weight: bold;">Team work<br></p>
                        </div>
                        <div class="col" style="border-bottom-style: none;margin: 5px;"><img class="val-icons" src="/img/Affiliation-removebg-preview.png">
                            <p style="font-weight: bold;">Affiliation<br></p>
                        </div>
                        <div class="col" style="border-bottom-style: none;margin: 5px;"><img class="val-icons" src="/img/Professionalism-removebg-preview.png">
                            <p style="font-weight: bold;">Professionalism<br></p>
                        </div>
                        <div class="col" style="border-bottom-style: none;margin: 5px;"><img class="val-icons" src="/img/Meticulous-removebg-preview.png">
                            <p style="font-weight: bold;">Meticulous<br></p>
                        </div>
                    </div>
                </div>
                <div>
                    <h1>Goals</h1>
                    <p>Achieving the UN 17 SDGs <br>Save organisation and business stakeholders<br>time and money provide decision support with reliability<br>and precision Increase communication and collaboration<br></p>
                    <p>Increase communication and collaboration<br></p>
                </div>
                <div>
                    <h1>Methodology</h1>
                    <p>Data gathered and collected data into the database from reliability and credibility resources,<br>then cleaning and modelling via statistical approach. Moreover, Create accurate reliable insights. We visualisation the data<br>highlighting the most premier challenge. We present<br></p>
                </div>
                <div style="border-bottom-style: none;">
                    <h1 style="border-top-style: none;">Contact us</h1>
                    <div class="row" style="border-bottom-style: none;">
                        <div class="col align-self-center" style="border-bottom-style: none;margin-top: 10px;margin-bottom: 10px;"><input type="email" style="border-top-style: none;border-right-style: none;border-bottom-width: 2px;border-bottom-style: solid;border-left-style: none;border-radius: 5px;width: 70%;background: #f8f8f8;" name="email" placeholder="Email"></div>
                    </div>
                    <div class="row" style="border-bottom-style: none;">
                        <div class="col align-self-center" style="border-bottom-style: none;"><textarea style="border-top-style: none;border-right-style: none;border-bottom-width: 2px;border-bottom-style: solid;border-left-style: none;border-radius: 5px;width: 80%;height: 120px;margin-bottom: 10px;margin-top: 10px;background: #f8f8f8;" placeholder="Message" name="message"></textarea></div>
                    </div>
                    <div class="row" style="border-bottom-style: none; display: block;">
                        <button type="submit" class="btn btn-primary" style="font-weight: bold; width:150px;" >Send</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/Profile-Edit-Form.js"></script>
</body>

</html>