<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sudan States</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/css/Brands.css">
    <link rel="stylesheet" href="/css/Elegant-Registration-Form.css">
    <link rel="stylesheet" href="/css/header-1.css">
    <link rel="stylesheet" href="/css/header-2.css">
    <link rel="stylesheet" href="/css/Header-Dark.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/css/Map-Clean.css">
    <link rel="stylesheet" href="/css/Pretty-Header.css">
    <link rel="stylesheet" href="/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="/css/Social-Icons.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/Testimonials.css">
</head>

<body>
    <header class="header-dark" style="margin-bottom: 15px;border-color: rgb(255,255,255);height: 900px;">
        <nav class="navbar navbar-light navbar-expand-md header-dark" style="background: #393838b0;margin-bottom: 15px;height: 70px;padding-left: 50px;">
            <div class="container-fluid">
                <div><a class="navbar-brand" href="/" style="margin-bottom: 15px;margin-left: 30px;"><br><strong>Sudanspaces</strong><br><br></a></div><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbar-collapse-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="navbar-nav links">
                        <li class="nav-item"><a class="nav-link" href="/" style="padding-left: 30px;color: rgba(255,255,255,0.9);">Home<br></a></li>
                        <li class="nav-item"><a class="nav-link" href="news" style="color: rgba(255,255,255,0.9);">News</a></li>
                        <li class="nav-item"><a class="nav-link" href="about" style="color: rgba(255,255,255,0.9);">About</a></li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="profile"> <img class="dropdown-image" src="/img/avatar.jpg"></a>
                            <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="/">Logout </a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container profile profile-view" id="profile" style="background: rgba(30,40,51,0.76);width: 770px;margin-top: 50px;box-shadow: 2px -2px 6px 0px rgb(255,255,255), -2px 2px 6px rgb(255,255,255);">
            <div class="row">
                <div class="col-md-12 alert-col relative">
                    <div class="alert alert-info alert-dismissible absolue center" role="alert"><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button><span>Profile save with success</span></div>
                </div>
            </div>
            <form>
                <div class="row profile-row">
                    <div class="col-md-4 relative">
                        <div class="avatar">
                            <div class="avatar-bg center"><i class="far fa-user" style="font-size: 120px;color: var(--bs-gray-400);margin-top: 50px;"></i></div>
                        </div><label class="form-label" style="color: var(--bs-gray);text-align: center;">User image</label>
                    </div>
                    <div class="col-md-8">
                        <h1 style="color: #2980ef;">Edit Profile </h1>
                        <hr>
                        <div class="form-group mb-3"><input class="form-control" type="text" name="username" placeholder="Username" style="margin-bottom: 15px;"><input class="form-control" type="text" name="full_name" placeholder="Full Name"></div>
                        <div class="form-group mb-3"><input class="form-control" type="email" autocomplete="off" required="" name="email" placeholder="Email"></div>
                        <div class="form-group mb-3"><input class="form-control" type="password" name="password" autocomplete="off" required="" placeholder="Password"></div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12 content-right"><button class="btn btn-primary form-btn" type="submit" style="background: #007229;font-weight: bold;">SAVE </button><button class="btn btn-danger form-btn" type="reset" style="background: #d21034;font-weight: bold;">CANCEL </button></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </header>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/Profile-Edit-Form.js"></script>
</body>

</html>