<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sudan States</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/css/Brands.css">
    <link rel="stylesheet" href="/css/Elegant-Registration-Form.css">
    <link rel="stylesheet" href="/css/header-1.css">
    <link rel="stylesheet" href="/css/header-2.css">
    <link rel="stylesheet" href="/css/Header-Dark.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/css/Map-Clean.css">
    <link rel="stylesheet" href="/css/Pretty-Header.css">
    <link rel="stylesheet" href="/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="/css/Social-Icons.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/Testimonials.css">
</head>

<body>
    <header class="header-dark">
        <nav class="navbar navbar-light navbar-expand-md header-dark" style="background: #393838b0;margin-bottom: 15px;height: 70px;padding-left: 50px;">
            <div class="container-fluid">
                <div><a class="navbar-brand" href="/" style="margin-bottom: 15px;margin-left: 30px;"><br><br><strong>Sudanspaces</strong><br><br><br></a></div><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbar-collapse-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="navbar-nav links">
                        <li class="nav-item"><a class="nav-link" href="/" style="padding-left: 30px;color: rgba(255,255,255,0.9);">Home<br></a></li>
                        <li class="nav-item"><a class="nav-link" href="news" style="color: rgba(255,255,255,0.9);">News</a></li>
                        <li class="nav-item"><a class="nav-link" href="about" style="color: rgba(255,255,255,0.9);">About</a></li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="profile"> <img class="dropdown-image" src="/img/avatar.jpg"></a>
                            <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="/">Logout </a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="testimonials-clean" style="margin-right: 30px;margin-left: 30px;margin-top: 5px;">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">News</h2>
                    <p class="text-center">about sudan&nbsp;</p>
                </div>
                <div class="row people">
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box">
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                        </div>
                        <div class="author"><img class="rounded-circle" src="/img/1.jpg">
                            <h5 class="name">Ben Johnson</h5>
                            <p class="title">ben_johnsno</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box">
                            <p class="description">Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id.</p>
                        </div>
                        <div class="author"><img class="rounded-circle" src="/img/3.jpg">
                            <h5 class="name">Carl Kent</h5>
                            <p class="title">carl_kent</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box">
                            <p class="description">Aliquam varius finibus est, et interdum justo suscipit. Vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                        </div>
                        <div class="author"><img class="rounded-circle" src="/img/2.jpg">
                            <h5 class="name">Emily Clark</h5>
                            <p class="title">emily_clark</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/Profile-Edit-Form.js"></script>
</body>

</html>