<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sudan States</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/css/Brands.css">
    <link rel="stylesheet" href="/css/Elegant-Registration-Form.css">

    <link rel="stylesheet" href="/css/Header-Dark.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/css/Pretty-Header.css">

    <link rel="stylesheet" href="/css/Social-Icons.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/Testimonials.css">
</head>

<body>
    <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        </ul>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="news">News</a></li>
        </ul>
    </div>
    <header class="header-dark">
        <nav class="navbar navbar-light navbar-expand-md header-dark"
            style="background: #393838b0;margin-bottom: 15px;height: 70px;padding-left: 50px;">
            <div class="container-fluid">
                <div><a class="navbar-brand" href="/"
                        style="margin-bottom: 15px;margin-left: 30px;"><br><br><strong>Sudanspaces</strong><br><br><br></a>
                </div><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbar-collapse-1"><span
                        class="visually-hidden">Toggle navigation</span><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="navbar-nav links">
                        <li class="nav-item"><a class="nav-link" href="/"
                                style="padding-left: 30px;color: rgba(255,255,255,0.9);">Home<br></a></li>
                        <li class="nav-item"><a class="nav-link" href="news"
                                style="color: rgba(255,255,255,0.9);">News</a></li>
                        <li class="nav-item"><a class="nav-link" href="about"
                                style="color: rgba(255,255,255,0.9);">About</a></li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false"
                                data-bs-toggle="dropdown" href="profile"> <img class="dropdown-image"
                                    src="/img/avatar.jpg"></a>
                            <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="/">Logout </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="login-dark" style="height: 1000px;margin-top: 10px;">
            <form id="reg-form" enctype="multipart/form-data"
                style="width: 500px;padding-top: 10px;box-shadow: 2px -2px 6px 0px, -2px 2px 6px;text-align: center;">
                <div id="reg-illustration" class="illustration">
                    <h1>Join us</h1>
                    <p style="font-size: 18px;color: #c8ced7;">Join us and get to know Sudan states.</p>

                </div>
                <div class="avatar">
                    <div id="avatar-bg" class="avatar-bg center">

                    </div>
                    <input id="user_image" name="avatar" type="file" class="file-upload-input" accept="Image/*">
                </div>
                <div class="mb-3">
                    <input id="username" class="form-control" type="text" style="margin-bottom: 15px;" name="username"
                        placeholder="Username">
                    <input id="full_name" class="form-control" type="text" style="margin-bottom: 15px;" name="full_name"
                        placeholder="Full name">
                    <input id="email" class="form-control" type="email" name="email" placeholder="Email"
                        style="margin-bottom: 15px;">
                </div>
                <div class="mb-3">
                    <input id="password" class="form-control" type="password" name="password" placeholder="Password"
                        style="margin-bottom: 15px;">
                    <input id="confirm_password" class="form-control" type="password" name="confirm_password"
                        placeholder="Confirm Password">
                </div>
                <h5 id="error-msg" class="alert alert-danger" style="display: none;"></h5>
                <div class="mb-3">
                    <button class="btn btn-primary d-block w-100" id="btn-reg" type="submit">Sign up</button>
                </div>
                <div class="mb-3">
                    <p style="font-size: 18px;color: #c8ced7;text-align: center;">Signup with social media.</p>
                </div><a class="already" href="login" style="text-align: center;color: #8d97ad;font-size: 14px;">Already
                    have an account?&nbsp;</a>
            </form>

        </section>
    </header>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/auth-handeller.js"></script>
</body>

</html>